<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Awesome Store</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/darkmode.js"></script>
</head>
<body class="dark">
    <header>
        <h1>My Awesome Store</h1>
        <button id="dark-mode-switch" onClick="switchMode()">Dark Mode</button>
        <nav>
            <ul>
                <li><a href="register">Register</a></li>
                <li><a href="login">Login/Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to My Awesome Store!</h2>
        <p>We have the best products for you!</p>
        <a href="products">See our products!</a>
        <img src="../static/img/G.jpeg" alt="imagem" width="400" height="400">
    </main>
    <footer>
        <p>My Awesome Store 2023</p>
    </footer>
</body>
</html>