body {
    background-color: #7339AB;
    color: #F6F9FF;
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    color: #625AD8;
    font-weight: bold;
    text-align: center;
}

main {
    text-align: center;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
}

form button {
    background-color: #1F9CE4;
    color: #F6F9FF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
}

footer {
    text-align: center;
    background-color: #88F4FF;
    padding: 1rem;
}