body {
    background-color: #0D0D0D;
    color: #ffffff;
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

main {
    text-align: center;
    padding: 2rem;
}

a {
    background-color: #7121A6;
    padding: 0.5rem 1rem;
    color: #6BF2F2;
    text-decoration: none;
    border-radius: 0.5rem;
    border: 1px solid #7B6FF3;
}

footer {
    text-align: center;
    background-color: #F2F2F2;
    padding: 1rem;
}