<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Awesome Store - Login/Sign Up</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../../../static/js/login.js"></script>
</head>
<body class="dark">
    <header>
        <h1>My Awesome Store</h1>
    </header>
    <main>
        <div class="content-container">
            <h2>Login/Sign Up</h2>
            <form action="/login" method="POST"> <!-- Definindo método POST e action para a rota /login -->
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Insira o seu Login" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Insira a sua senha" required>
                <button>Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; My Awesome Store 2023</p>
    </footer>
</body>
</html>
