<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Awesome Store</title>
    <link rel="stylesheet" href="./auth.css">
</head>
<body class="dark">
    <header>
        <h1>My Awesome Store</h1>
    </header>
    <main>
        <h2>Login/Sign Up</h2>
        <form action="">
            <label>Username</label>
            <input type="text" name="username" required>
            <label>Password</label>
            <input type="password" name="password" required>
            <button>Submit</button>
        </form>
    </main>
    <footer>
        <p>My Awesome Store 2023</p>
    </footer>
</body>
</html>